@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.container {
  @apply w-full mx-auto xl:w-11/12 xl:p-0;
}

.small-text {
  @apply text-xs sm:text-xs md:text-sm lg:text-base;
}

.regular-text {
  @apply text-sm sm:text-sm md:text-base lg:text-lg;
}

.title-text {
  @apply text-[24px] sm:text-[20px] md:text-[27px] lg:text-[36px] font-black;
}

.subtitle-text {
  @apply text-[16px] sm:text-[14px] md:text-[18px] lg:text-[24px] font-bold;
}

.emphasized-text {
  @apply text-sm sm:text-xs md:text-base lg:text-lg;
}

.zoom-in-transition {
  @apply transition-transform duration-500 ease-in-out;
}

.get-started-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(17, 17, 17, 0.8) 50%,
      rgba(17, 17, 17, 0.8491771708683473) 100%
    ),
    url("/images/trek.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .get-started-bg {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0.8) 0%,
        rgba(17, 17, 17, 0.8) 50%,
        rgba(17, 17, 17, 0.8) 100%
      ),
      url("/images/trek.jpg");
    background-size: cover;
    background-position: center;
  }
}

/* animation */
.infinite-scroll-animation {
  animation: infiniteScroll 10s infinite;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-color: transparent transparent;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid rgba(255, 255, 255, 0.75); /* Cursor effect */
  animation: typing 2s steps(23, end), blink-caret 0.75s step-end infinite;
  letter-spacing: 0.1em; /* Increase letter spacing */
}

/* Animation for typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 23ch;
  } /* Adjust width to match the character count of your text */
}

/* Animation for blinking cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}
